<mat-toolbar color="primary"
class="toolbar">
	<button (click)="previousPage()"
          mat-raised-button
          color="accent"
          class="previous-button button"
          [disabled]="!previous"
          >
    <mat-icon>keyboard_arrow_left</mat-icon>
    previous
  </button>

  <button *ngFor="let pageIndex of pages"
          mat-button
          [class.active]="page == pageIndex"
          (click)="getPageByIndex(pageIndex)">
    {{ pageIndex }}
  </button>

  <button (click)="nextPage()"
          mat-raised-button
          color="accent"
          class="next-button button"
          [disabled]="!next"
  >
  next
  <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</mat-toolbar>

<div class="list">
	<mat-list>
		<mat-list-item *ngFor="let person of people">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{ person.name }}
			  <a mat-button 
           [routerLink]="generateProfileLink(person)">
				show profile
			  </a>
      </h4>
		</mat-list-item>
	</mat-list>

	<mat-spinner *ngIf="people.length == 0"
   color="primary"
   class="spinner">
  </mat-spinner>

</div>